USE [master]    ---User -> Student/Teacher -> ChatInfo -> ChatParticipant -> ChatLog -> ChatDoc
GO
/****** Object:  Database [MyChatDatabse]    Script Date: 13-01-2025 17:32:09 ******/
CREATE DATABASE [MyChatDatabse]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyChatDatabse', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\MyChatDatabse.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyChatDatabse_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\MyChatDatabse_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyChatDatabse].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyChatDatabse]
GO
/****** Object:  Table [dbo].[ChatDoc]    Script Date: 13-01-2025 17:32:10 ******/

USE [SignalRWithEF]
GO

/****** Object:  Table [dbo].[HubConnection]    Script Date: 13-01-2025 20:38:44 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[HubConnection](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConnectionId] [varchar](50) NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_HubConnection] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO



/****** Object:  Table [dbo].[ChatInfo]    Script Date: 13-01-2025 17:32:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatInfo](
	[ChatID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ChatType] [varchar](20) NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatLog]    Script Date: 13-01-2025 17:32:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatLog](
	[ChatLogID] [int] IDENTITY(1,1) NOT NULL,
	[ChatID] [int] NOT NULL,
	[SenderID] [int] NOT NULL,
	[typeofmessage] varchar(200),
	[Timestamp] [datetime] NULL,
	[IsDeletedForEveryone] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChatLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
-------------------------------------------
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatDoc](
	[ChatDocID] [int] IDENTITY(1,1) NOT NULL,
	[ChatID] [int] NOT NULL,
	[Img] [varchar](255) NULL,
	[Doc] [varchar](255) NULL,         ---i am thinking ing,doc,video,audio,msg sakta alag table combined to chatlog with type of message
	[Video] [varchar](255) NULL,
	[Audio] [varchar](255) NULL,
	[Msg] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChatDocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatParticipants]    Script Date: 13-01-2025 17:32:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatParticipants](
	[ParticipantID] [int] IDENTITY(1,1) NOT NULL,
	[ChatID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Role] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ParticipantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeletedMessages]    Script Date: 13-01-2025 17:32:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeletedMessages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ChatLogID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[DeletedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 13-01-2025 17:32:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Sts] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 13-01-2025 17:32:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[TeacherID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Sts] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 13-01-2025 17:32:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D105345853BB95]    Script Date: 13-01-2025 17:32:10 ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChatInfo] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ChatLog] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[ChatLog] ADD  DEFAULT ((0)) FOR [IsDeletedForEveryone]
GO
ALTER TABLE [dbo].[DeletedMessages] ADD  DEFAULT (getdate()) FOR [DeletedDate]
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT ('Active') FOR [Sts]
GO
ALTER TABLE [dbo].[Teacher] ADD  DEFAULT ('Active') FOR [Sts]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ChatDoc]  WITH CHECK ADD FOREIGN KEY([ChatID])
REFERENCES [dbo].[ChatInfo] ([ChatID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatInfo]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatLog]  WITH CHECK ADD FOREIGN KEY([ChatID])
REFERENCES [dbo].[ChatInfo] ([ChatID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatLog]  WITH CHECK ADD FOREIGN KEY([SenderID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[ChatParticipants]  WITH CHECK ADD FOREIGN KEY([ChatID])
REFERENCES [dbo].[ChatInfo] ([ChatID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatParticipants]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[DeletedMessages]  WITH CHECK ADD FOREIGN KEY([ChatLogID])
REFERENCES [dbo].[ChatLog] ([ChatLogID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeletedMessages]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatInfo]  WITH CHECK ADD CHECK  (([ChatType]='Group' OR [ChatType]='One-to-One'))
GO
ALTER TABLE [dbo].[ChatParticipants]  WITH CHECK ADD CHECK  (([Role]='Teacher' OR [Role]='Student'))
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD CHECK  (([Sts]='Inactive' OR [Sts]='Active'))
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD CHECK  (([Sts]='Inactive' OR [Sts]='Active'))
GO
USE [master]
GO
