
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChatRoom</title>
	<style>
		* {
			box-sizing: border-box;
		}

		::-webkit-scrollbar {
			width: 6px;
		}

		::-webkit-scrollbar-track {
			background: transparent;
		}

		::-webkit-scrollbar-thumb {
			background: #000 80;
		}

			::-webkit-scrollbar-thumb:hover {
				background: #000 cc;
			}

		html, body {
			height: 100%;
			margin: 0;
		}

		body {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background: #ccceeb;
			font-family: 'Manrope', 'Roboto', 'Arial';
			padding: 1em;
			gap: 1em;
		}

		hr {
			width: 75%;
			height: 1px;
			margin: auto;
			border: none;
			background: #000 20;
		}

		.icon {
			cursor: pointer;
			transition: all ease 0.5s;
		}

			.icon:hover {
				opacity: 0.5;
			}

		.person {
			--size: 2em;
			width: fit-content;
			min-width: var(--size);
			min-height: var(--size);
			position: relative;
			background-image: url('https://i.imgur.com/TrT3LoO.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 50%;
		}

			.person.avatar {
				--size: 3em;
			}

			.person.photo {
				--size: 6em;
			}

				.person.photo .online {
					--size: 1.5em;
				}

			.person .online {
				--size: 0.75em;
				width: fit-content;
				min-width: var(--size);
				min-height: var(--size);
				position: absolute;
				right: 0;
				bottom: 0;
				background: #09db84;
				border-radius: 50%;
			}

		.chat {
			--bg: #fff;
			--bg-secundary: #e1e1e8;
			--bg-highlight: #057ef7;
			--color: #2a2b2e;
			max-width: 960px;
			width: 100%;
			height: 95%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: flex-start;
			position: relative;
			color: var(--color);
			background: var(--bg);
			border-radius: 8px;
			overflow: hidden;
			box-shadow: 0 8px 8px -4px #000 20;
			transition: all ease 0.5s;
		}

			.chat.dark {
				--bg: #1f2024;
				--bg-secundary: #292a30;
				--color: #dde4f0;
			}

			.chat[data-color='red'] {
				--bg-highlight: #f70546;
			}

			.chat[data-color='green'] {
				--bg-highlight: #10915c;
			}

			.chat[data-color='purple'] {
				--bg-highlight: #b600f2;
			}

			.chat .conversation {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				transition: all ease 0.5s;
			}

				.chat .conversation .head {
					width: 100%;
					min-height: 4em;
					display: flex;
					align-items: center;
					gap: 1em;
					background: var(--bg-secundary);
					padding: 0.5em;
				}

					.chat .conversation .head .buttons {
						display: flex;
						align-items: center;
						gap: 1em;
						margin-left: auto;
					}

				.chat .conversation .messages {
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					gap: 0.25em;
					padding: 1em;
					overflow: auto;
				}

					.chat .conversation .messages .time {
						width: fit-content;
						font-size: 0.75em;
						margin: 0 auto;
						padding: 0.5em;
						border-radius: 6px;
						background: #000 20;
					}

					.chat .conversation .messages .msg-text {
						width: fit-content;
						font-size: 0.85em;
						animation: appear-msg ease 0.25s forwards;
					}

						.chat .conversation .messages .msg-text .text {
							display: block;
							padding: 0.75em;
							border-radius: 0.75em 0.75em 0.75em 0;
							background: var(--bg-secundary);
							box-shadow: 0 2px 0 #000 20;
						}

						.chat .conversation .messages .msg-text.owner {
							margin-left: auto;
						}

							.chat .conversation .messages .msg-text.owner .text {
								color: #fff;
								background: var(--bg-highlight);
								border-radius: 0.75em 0.75em 0 0.75em;
							}

				.chat .conversation .field {
					width: 100%;
					height: 4em;
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 0.5em;
					padding: 0.25em 0.5em;
					border-top: 1px solid var(--bg-secundary);
					transition: all ease 0.5s;
				}

					.chat .conversation .field .input-message {
						width: 100%;
						height: 100%;
						border: none;
						outline: none;
						padding: 0.5em 1em;
						border-radius: 50px;
						color: var(--color);
						background: var(--bg-secundary);
						transition: all ease 0.5s;
					}

						.chat .conversation .field .input-message:placeholder-shown ~ .text {
							display: none;
						}

						.chat .conversation .field .input-message:not(:placeholder-shown) ~ .plus {
							display: none;
						}

						.chat .conversation .field .input-message:not(:placeholder-shown) ~ .audio {
							display: none;
						}

					.chat .conversation .field .plus {
						display: flex;
						justify-content: center;
						align-items: center;
						padding: 0.5em;
						border-radius: 50%;
						background: var(--bg-secundary);
					}

					.chat .conversation .field .send {
						min-width: 32px;
						display: flex;
						align-items: center;
						color: #fff;
						background: var(--bg-highlight);
						padding: 0.5em;
						border-radius: 50%;
						overflow: hidden;
					}

						.chat .conversation .field .send .audio {
							display: none;
						}

			.chat .options {
				min-width: 50%;
				height: 100%;
				padding: 0.5em;
				border-left: 1px solid var(--bg-secundary);
				background: var(--bg);
				position: absolute;
				right: -100%;
				overflow: auto;
				transition: all ease 0.5s;
			}

				.chat .options.active {
					right: 0;
				}

				.chat .options .head {
					display: flex;
					align-items: center;
				}

				.chat .options .info {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 0.5em;
				}

				.chat .options .buttons {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 1em;
				}

					.chat .options .buttons .button {
						text-align: center;
					}

						.chat .options .buttons .button .icon {
							--size: 2em;
							width: var(--size);
							height: var(--size);
							display: flex;
							justify-content: center;
							align-items: center;
							padding: 0.5em;
							margin: auto;
							background: var(--bg-secundary);
							border-radius: 50%;
						}

						.chat .options .buttons .button .title {
							font-size: 0.9em;
							margin: 0.25em;
							opacity: 0.5;
						}

				.chat .options .details {
					width: 100%;
					display: flex;
					flex-direction: column;
					gap: 1em;
					font-size: 0.9em;
					padding: 1em 2em;
				}

					.chat .options .details > * {
						width: 100%;
						display: flex;
						justify-content: space-between;
						padding: 1em 0;
						border-bottom: 1px solid #000 20;
					}

					.chat .options .details .search-field .icon {
						display: flex;
						align-items: center;
					}

					.chat .options .details .search-field .search {
						width: 100%;
						padding: 0.25em;
						border: none;
						outline: none;
						background: transparent;
					}

					.chat .options .details .dark-mode .input-dark {
						display: none;
					}

						.chat .options .details .dark-mode .input-dark:checked ~ .toggle .circle {
							left: 50%;
							background: var(--bg-highlight);
						}

					.chat .options .details .dark-mode .toggle {
						cursor: pointer;
						--size: 1.5em;
						width: calc(var(--size) * 2);
						height: var(--size);
						position: relative;
						border-radius: var(--size);
						outline: 2px solid var(--bg-secundary);
					}

						.chat .options .details .dark-mode .toggle .circle {
							width: var(--size);
							height: var(--size);
							position: relative;
							left: 0;
							background: var(--bg-secundary);
							border-radius: var(--size);
							transition: all ease 0.5s;
						}

					.chat .options .details .theme .colors {
						display: flex;
						gap: 0.5em;
					}

						.chat .options .details .theme .colors .color {
							cursor: pointer;
							--size: 1.25em;
							width: var(--size);
							height: var(--size);
							border-radius: 50%;
						}

							.chat .options .details .theme .colors .color:hover {
								outline: 2px solid var(--bg-secundary);
							}

							.chat .options .details .theme .colors .color.blue {
								background: #057ef7;
							}

							.chat .options .details .theme .colors .color.red {
								background: #f70546;
							}

							.chat .options .details .theme .colors .color.green {
								background: #10915c;
							}

							.chat .options .details .theme .colors .color.purple {
								background: #b600f2;
							}

					.chat .options .details .media {
						flex-direction: column;
						gap: 1em;
					}

						.chat .options .details .media .label {
							display: flex;
							align-items: center;
							gap: 0.5em;
						}

						.chat .options .details .media .photos {
							display: grid;
							grid-template-columns: repeat(3, 1fr);
							grid-auto-rows: 96px;
							grid-column-gap: 6px;
							grid-row-gap: 6px;
						}

							.chat .options .details .media .photos .img {
								cursor: pointer;
								height: 100%;
								width: 100%;
								object-fit: cover;
								border-radius: 8px;
								object-position: center;
							}

					.chat .options .details .view-more {
						cursor: pointer;
						width: fit-content;
						margin: auto;
						font-size: 1.1em;
						font-weight: 600;
						text-align: center;
						color: var(--bg-highlight);
						background: #000 5;
						border-radius: 8px;
						padding: 0.5em;
					}

		.social {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 1em;
		}

			.social .button {
				display: flex;
				align-items: center;
				gap: 0.5em;
				color: #000;
				text-decoration: none;
			}
		@@media screen and (max-width: 768px) {
			.chat .conversation, .chat .options

		{
			width: 100%;
		}

		}
		@@keyframes appear-msg {
			from

		{
			opacity: 0;
			transform: translateY(50%);
		}

		to {
			opacity: 1;
			transform: translateY(0);
		}

		}
	</style>
</head>
<body>
	<div id="chat" class="chat">
		<div class="conversation">
			<div class="head">
				<div class="person avatar">
					<div class="online"></div>
				</div>
				<h3 class="person-name">Millie</h3>
				<div class="buttons">
					<svg title="Call" class="audio-call icon" stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1.25em" width="1.25em" xmlns="http://www.w3.org/2000/svg">
						<path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>
					</svg>
					<svg title="Video-call" class="video-call icon" stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1.25em" width="1.25em" xmlns="http://www.w3.org/2000/svg">
						<polygon points="23 7 16 12 23 17 23 7"></polygon>
						<rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect>
					</svg>
					<svg id="button-options" class="button-option icon" stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1.25em" width="1.25em" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12" cy="12" r="10"></circle>
						<line x1="12" y1="16" x2="12" y2="12"></line>
						<line x1="12" y1="8" x2="12.01" y2="8"></line>
					</svg>
				</div>
			</div>

			<div id="messages" class="messages">
				<div class="time">Today</div>
				<div class="msg-text">
					<span class="text">Hello</span>
				</div>
				<div class="msg-text">
					<span class="text">How are you doing?</span>
				</div>
				<div class="msg-text owner">
					<span class="text">Fine</span>
				</div>
				<div class="msg-text owner">
					<span class="text">You?</span>
				</div>
				<div class="msg-text">
					<span class="text">Good</span>
				</div>
			</div>

			<div class="field">
				<svg class="emoji icon" stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
				</svg>
				<input id="input-message" class="input-message" type="text" placeholder="Type something..." />
				<div class="icon plus">
					<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
						<path d="M21.44 11.05l-9.19 9.19a6 6 0 0 1-8.49-8.49l9.19-9.19a4 4 0 0 1 5.66 5.66l-9.2 9.19a2 2 0 0 1-2.83-2.83l8.49-8.48"></path>
					</svg>
				</div>
				<div id="send-text" class="icon send text">
					<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
						<line x1="22" y1="2" x2="11" y2="13"></line>
						<polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
					</svg>
				</div>
				<div id="send-audio" class="icon send audio">
					<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
						<path d="M12 1a3 3 0 0 0-3 3v8a3 3 0 0 0 6 0V4a3 3 0 0 0-3-3z"></path>
						<path d="M19 10v2a7 7 0 0 1-14 0v-2"></path>
						<line x1="12" y1="19" x2="12" y2="23"></line>
						<line x1="8" y1="23" x2="16" y2="23"></line>
					</svg>
				</div>
			</div>
		</div>

		<div id="options" class="options">
			<div class="head">
				<div id="close-options" class="close icon">
					<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="2em" width="2em" xmlns="http://www.w3.org/2000/svg">
						<line x1="19" y1="12" x2="5" y2="12"></line>
						<polyline points="12 19 5 12 12 5"></polyline>
					</svg>
				</div>
			</div>

			<div class="info">
				<div class="person photo">
					<div class="online"></div>
				</div>
				<h2 class="name">Millie</h2>
				<div class="buttons">
					<div class="button">
						<div class="icon">
							<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
								<path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>
							</svg>
						</div>
						<p class="title">Audio</p>
					</div>
					<div class="button">
						<div class="icon">
							<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
								<polygon points="23 7 16 12 23 17 23 7"></polygon>
								<rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect>
							</svg>
						</div>
						<p class="title">Video</p>
					</div>
					<div class="button">
						<div class="icon">
							<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
								<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
								<circle cx="12" cy="7" r="4"></circle>
							</svg>
						</div>
						<p class="title">Profile</p>
					</div>
					<div class="button">
						<div class="icon">
							<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
								<path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
								<path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
							</svg>
						</div>
						<p class="title">Mute</p>
					</div>
				</div>
				<hr />
				<div class="details">
					<label class="search-field">
						<div class="icon">
							<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
								<circle cx="11" cy="11" r="8"></circle>
								<line x1="21" y1="21" x2="16.65" y2="16.65"></line>
							</svg>
						</div>
						<input id="search" class="search" type="text" placeholder="Search" />
					</label>
					<label class="dark-mode">
						<span class="label">Dark Mode</span>
						<input id="input-dark" class="input-dark" type="checkbox" />
						<div class="toggle">
							<div class="circle"></div>
						</div>
					</label>
					<div class="theme">
						<span class="label">Theme</span>
						<div class="colors">
							<div id="color-blue" class="color blue"></div>
							<div id="color-red" class="color red"></div>
							<div id="color-green" class="color green"></div>
							<div id="color-purple" class="color purple"></div>
						</div>
					</div>
					<div class="media">
						<span class="label">
							<svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
							</svg>
							<span>Shared photos</span>
						</span>
						<div class="photos">
							<img class="img" src="https://i.imgur.com/8jqYvFL.jpeg" />
							<img class="img" src="https://i.imgur.com/jlFgGpe.jpeg" />
							<img class="img" src="https://i.imgur.com/BfyXuwR.gif" />
						</div>
						<span class="view-more">View more</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="social">
		<a href="https://github.com/WesleyMaik" target="_blank" class="button">
			<svg stroke="currentColor" fill="currentColor" stroke-width="0" role="img" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
				<path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"></path>
			</svg>
			<span>See my Github</span>
		</a>
		<a href="https://twitter.com/euwesleymaik" target="_blank" class="button">
			<svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
				<path fill="none" d="M0 0h24v24H0z"></path>
				<path d="M22.162 5.656a8.384 8.384 0 0 1-2.402.658A4.196 4.196 0 0 0 21.6 4c-.82.488-1.719.83-2.656 1.015a4.182 4.182 0 0 0-7.126 3.814 11.874 11.874 0 0 1-8.62-4.37 4.168 4.168 0 0 0-.566 2.103c0 1.45.738 2.731 1.86 3.481a4.168 4.168 0 0 1-1.894-.523v.052a4.185 4.185 0 0 0 3.355 4.101 4.21 4.21 0 0 1-1.89.072A4.185 4.185 0 0 0 7.97 16.65a8.394 8.394 0 0 1-6.191 1.732 11.83 11.83 0 0 0 6.41 1.88c7.693 0 11.9-6.373 11.9-11.9 0-.18-.005-.362-.013-.54a8.496 8.496 0 0 0 2.087-2.165z"></path>
			</svg>
			<span>Follow me</span>
		</a>
	</div>
	<script>
				//Selector
		const $ = (selector) => document.querySelector(selector);

		//Chat
		const chat = $('#chat');

		//Options
		const options = $('#options'),
								button_options = $('#button-options'),
								close_options = $('#close-options');

		button_options.addEventListener('click', () => {
			options.classList.toggle('active');
		});

		close_options.addEventListener('click', () => {
			options.classList.remove('active');
		});

		//Dark Mode
		const toggle = $('#input-dark');

		toggle.addEventListener('change', function(){
			this.checked ? chat.classList.add('dark') : chat.classList.remove('dark');
		});

		//Colors
		const blue = $('#color-blue'),
								red = $('#color-red'),
								green = $('#color-green'),
								purple = $('#color-purple');

		blue.addEventListener('click', () => {
			delete chat.dataset.color;
		});
		red.addEventListener('click', () => {
			chat.dataset.color = 'red';
		});
		green.addEventListener('click', () => {
			chat.dataset.color = 'green';
		});
		purple.addEventListener('click', () => {
			chat.dataset.color = 'purple';
		});

		//Messages
		const messages = $('#messages'),
								input = $('#input-message'),
								send = $('#send-text');

		//Send messages
		input.addEventListener('keypress', function(ev){
			if(ev.key === 'Enter' && input.value){
				ev.preventDefault();
				const msg = input.value;
				sendMessage(msg);
			};
		});

		send.addEventListener('click', () => {
			const msg = input.value;
			if(msg) sendMessage(msg);
		});

		const sendMessage = (msg) => {
			//Create message
			const block = document.createElement('div');
									block.setAttribute('class', 'msg-text owner');
			const message = document.createElement('span');
									message.setAttribute('class', 'text');
									message.innerText = String(msg);

			//Append message
			block.appendChild(message);
			messages.appendChild(block);
			messages.scrollTo(0, 99999);

			//Clear input
			input.value = '';
			input.focus();
		};
	</script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script>
				window.onerror = function (message, source, lineno, colno, error) {
			if (message.includes("$.noConflict is not a function")) {
				console.warn("Ignoring $.noConflict error.");
				return true; // Suppress the error
			}
			return false; // Let other errors propagate
		};
	</script>
</body>
</html>
